# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse

#include screenshots as backup
run/config
run/defaultconfigs
run/world/
run/logs
run/mods
run/patchouli_books
run/resourcepacks
run/saves
run/*.txt
run/*.json


# Files from Forge MDK
forge*changelog.txt
